In [3]:
import os
import json
import pandas as pd
import psycopg2

Aggregate Ins

In [20]:
# insurance file
ins_path='C:/Users/Krithika J/OneDrive/Tài liệu/ds proj/youtube_proj/Phonepe_Proj/pulse/data/aggregated/insurance/country/india/state/'

agg_ins_list=os.listdir(ins_path)

col={'States':[],'Year':[],'Quarter':[],'Insurance_Method':[],'Insurance_Count':[],'Insurance_Amount':[]   }

for states in agg_ins_list:
    curr_state=ins_path+states+'/'
    agg_state_list= os.listdir(curr_state)

    for year in agg_state_list:
        curr_year=curr_state+year+'/'
        agg_year_list=os.listdir(curr_year)

        for file in agg_year_list:
            curr_file=curr_year+ file
            data=open(curr_file,'r')

            Agg1=json.load(data)

            for i in Agg1['data']['transactionData']:
                method=i['name']
                count=i['paymentInstruments'][0]['count']
                amount=i['paymentInstruments'][0]['amount']
                col['Insurance_Method'].append(method)
                col['Insurance_Count'].append(count)
                col['Insurance_Amount'].append(amount)
                col['States'].append(states)
                col['Year'].append(year)
                col['Quarter'].append(int(file.strip('.json')))
            Agg_ins=pd.DataFrame(col)

            Agg_ins['States']= Agg_ins['States'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
            Agg_ins['States']=Agg_ins['States'].str.replace('-', ' ')
            Agg_ins['States']=Agg_ins['States'].str.title()
            Agg_ins['States']=Agg_ins['States'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman & Diu')

In [21]:
Agg_ins['States'].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman & Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

Aggregate Trans

In [50]:
#Aggreate file

trans_path='C:/Users/Krithika J/OneDrive/Tài liệu/ds proj/youtube_proj/Phonepe_Proj/pulse/data/aggregated/transaction/country/india/state/'

agg_trans_list=os.listdir(trans_path)

col1={'States':[],'Year':[],'Quarter':[],'Transaction_Method':[],'Transaction_Count':[],'Transaction_Amount':[]   }

for states in agg_trans_list:
    curr_state=trans_path+states+'/'
    agg_state_list=os.listdir(curr_state)

    for year in agg_state_list:
        curr_year= curr_state+ year+'/'
        agg_year_list=os.listdir(curr_year)

        for file in agg_year_list:
            curr_file= curr_year+file
            data=open(curr_file,'r')

            Agg2=json.load(data)

            for i in Agg2['data']['transactionData']:
                method=i['name']
                count=i['paymentInstruments'][0]['count']
                amount=i['paymentInstruments'][0]['amount']
                col1['Transaction_Method'].append(method)
                col1['Transaction_Count'].append(count)
                col1['Transaction_Amount'].append(amount)
                col1['States'].append(states)
                col1['Year'].append(year)
                col1['Quarter'].append(int(file.strip('.json')))
                
            Agg_trans=pd.DataFrame(col1)

            Agg_trans['States']= Agg_trans['States'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
            Agg_trans['States']=Agg_trans['States'].str.replace('-', ' ')
            Agg_trans['States']=Agg_trans['States'].str.title()
            Agg_trans['States']=Agg_trans['States'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman & Diu')
            Agg_trans['Transaction_Amount']=Agg_trans['Transaction_Amount'].round()
            Agg_trans['Year']=Agg_trans['Year'].astype(int)

In [51]:
Agg_trans['Year'].unique()

array([2018, 2019, 2020, 2021, 2022, 2023])

Aggregate user

In [26]:
# user file

user_path='C:/Users/Krithika J/OneDrive/Tài liệu/ds proj/youtube_proj/Phonepe_Proj/pulse/data/aggregated/user/country/india/state/'

agg_user_list=os.listdir(user_path)

col2= {'States':[],'Year':[],'Quarter':[],'Brands':[],'User_Count':[],'Percentage':[]   }

for states in agg_user_list:
    curr_state=user_path+states+'/'
    agg_state_list=os.listdir(curr_state)

    for year in agg_state_list:
        curr_year=curr_state+year+'/'
        agg_year_list=os.listdir(curr_year)

        for file in agg_year_list:
            curr_file=curr_year+file
            data=open(curr_file,'r')

            Agg3=json.load(data)

            try:

                for i in Agg3['data']['usersByDevice']:
                    brands=i['brand']
                    count=i['count']
                    percentage=i['percentage']
                    col2['Brands'].append(brands)
                    col2['User_Count'].append(count)
                    col2['Percentage'].append(percentage)
                    col2['States'].append(states)
                    col2['Year'].append(year)
                    col2['Quarter'].append(int(file.strip('.json')))
            except:
                pass
            Agg_user=pd.DataFrame(col2)

            Agg_user['States']= Agg_user['States'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
            Agg_user['States']=Agg_user['States'].str.replace('-', ' ')
            Agg_user['States']=Agg_user['States'].str.title()
            Agg_user['States']=Agg_user['States'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman & Diu')

In [28]:
Agg_user['States'].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman & Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

Map Ins

In [27]:
# map ins file

map_ins_path='C:/Users/Krithika J/OneDrive/Tài liệu/ds proj/youtube_proj/Phonepe_Proj/pulse/data/map/insurance/hover/country/india/state/'

map_ins_list=os.listdir(map_ins_path)

col_map_1={'States':[],'Year':[],'Quarter':[],'District':[],'Insurance_Count':[],'Insurance_Amount':[]   }

for states in map_ins_list:
    curr_state=map_ins_path+states+'/'
    map_state_list=os.listdir(curr_state)

    for year in map_state_list:
        curr_year=curr_state+year+'/'
        map_year_list=os.listdir(curr_year)

        for file in map_year_list:
            curr_file=curr_year+file
            data=open(curr_file,'r')

            Map1=json.load(data)

            for i in Map1['data']['hoverDataList']:
                name=i['name']
                count = i["metric"][0]["count"]
                amount = i["metric"][0]["amount"]
                col_map_1["District"].append(name)
                col_map_1["Insurance_Count"].append(count)
                col_map_1["Insurance_Amount"].append(amount)
                col_map_1["States"].append(states)
                col_map_1["Year"].append(year)
                col_map_1["Quarter"].append(int(file.strip(".json")))

            Map_ins=pd.DataFrame(col_map_1)

            Map_ins['States']= Map_ins['States'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
            Map_ins['States']=Map_ins['States'].str.replace('-', ' ')
            Map_ins['States']=Map_ins['States'].str.title()
            Map_ins['States']=Map_ins['States'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman & Diu')

In [29]:
Map_ins['States'].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman & Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

MAp trans

In [31]:
# map trans file

map_trans_path='C:/Users/Krithika J/OneDrive/Tài liệu/ds proj/youtube_proj/Phonepe_Proj/pulse/data/map/transaction/hover/country/india/state/'

map_trans_list=os.listdir(map_trans_path)

col_map_2={'States':[],'Year':[],'Quarter':[],'District':[],'Transaction_Count':[],'Transaction_Amount':[]   }

for states in map_trans_list:
    curr_state=map_trans_path+states+'/'
    map_state_list=os.listdir(curr_state)

    for year in map_state_list:
        curr_year=curr_state+year+'/'
        map_year_list=os.listdir(curr_year)

        for file in map_year_list:
            curr_file=curr_year+file
            data=open(curr_file,'r')

            Map2=json.load(data)

            for i in Map2['data']['hoverDataList']:
                name=i['name']
                count = i["metric"][0]["count"]
                amount = i["metric"][0]["amount"]
                col_map_2["District"].append(name)
                col_map_2["Transaction_Count"].append(count)
                col_map_2["Transaction_Amount"].append(amount)
                col_map_2["States"].append(states)
                col_map_2["Year"].append(year)
                col_map_2["Quarter"].append(int(file.strip(".json")))

            Map_trans=pd.DataFrame(col_map_2)

            Map_trans['States']= Map_trans['States'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
            Map_trans['States']=Map_trans['States'].str.replace('-', ' ')
            Map_trans['States']=Map_trans['States'].str.title()
            Map_trans['States']=Map_trans['States'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman & Diu')

In [32]:
Map_trans['States'].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman & Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

Map user

In [34]:
# map user file

map_user_path='C:/Users/Krithika J/OneDrive/Tài liệu/ds proj/youtube_proj/Phonepe_Proj/pulse/data/map/user/hover/country/india/state/'

map_user_list=os.listdir(map_user_path)

col_map_3={'States':[],'Year':[],'Quarter':[],'District':[],'Registered_User':[],'App_Opens':[]   }

for states in map_user_list:
    curr_state=map_user_path+states+'/'
    map_state_list=os.listdir(curr_state)

    for year in map_state_list:
        curr_year=curr_state+year+'/'
        map_year_list=os.listdir(curr_year)

        for file in map_year_list:
            curr_file=curr_year+file
            data=open(curr_file,'r')

            Map3=json.load(data)

            for i in Map3["data"]["hoverData"].items():
                district = i[0]
                registereduser = i[1]["registeredUsers"]
                appopens = i[1]["appOpens"]
                col_map_3["District"].append(district)
                col_map_3["Registered_User"].append(registereduser)
                col_map_3["App_Opens"].append(appopens)
                col_map_3["States"].append(states)
                col_map_3["Year"].append(year)
                col_map_3["Quarter"].append(int(file.strip(".json")))

            Map_user=pd.DataFrame(col_map_3)

            Map_user['States']= Map_user['States'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
            Map_user['States']=Map_user['States'].str.replace('-', ' ')
            Map_user['States']=Map_user['States'].str.title()
            Map_user['States']=Map_user['States'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman & Diu')

In [35]:
Map_user['States'].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman & Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

Replace /

In [10]:
A = r"C:\Users\Krithika J\OneDrive\Tài liệu\ds proj\youtube_proj\Phonepe_Proj\pulse\data\top\user\country\india\state/"
a = A.replace("\\", "/")
print(a)

C:/Users/Krithika J/OneDrive/Tài liệu/ds proj/youtube_proj/Phonepe_Proj/pulse/data/top/user/country/india/state/

Top Ins

In [67]:
# map ins file

top_ins_path='C:/Users/Krithika J/OneDrive/Tài liệu/ds proj/youtube_proj/Phonepe_Proj/pulse/data/top/insurance/country/india/state/'
top_ins_list=os.listdir(top_ins_path)

col_top_1={'States':[],'Year':[],'Quarter':[],'Pincode':[],'Insurance_Count':[],'Insurance_Amount':[]   }

for states in top_ins_list:
    curr_state=top_ins_path+states+'/'
    top_state_list=os.listdir(curr_state)

    for year in top_state_list:
        curr_year=curr_state+year+'/'
        top_year_list=os.listdir(curr_year)

        for file in top_year_list:
            curr_file=curr_year+file
            data=open(curr_file,'r')

            Top1=json.load(data)

            for i in Top1["data"]["pincodes"]:
                entityName = i["entityName"]
                count = i["metric"]["count"]
                amount = i["metric"]["amount"]
                col_top_1["Pincode"].append(entityName)
                col_top_1["Insurance_Count"].append(count)
                col_top_1["Insurance_Amount"].append(amount)
                col_top_1["States"].append(states)
                col_top_1["Year"].append(year)
                col_top_1["Quarter"].append(int(file.strip(".json")))

            Top_ins=pd.DataFrame(col_top_1)

            Top_ins['States']= Top_ins['States'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
            Top_ins['States']=Top_ins['States'].str.replace('-', ' ')
            Top_ins['States']=Top_ins['States'].str.title()
            Top_ins['States']=Top_ins['States'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman & Diu')

In [37]:
Top_ins['States'].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman & Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

Top Trans

In [71]:
# top trans file

top_trans_path='C:/Users/Krithika J/OneDrive/Tài liệu/ds proj/youtube_proj/Phonepe_Proj/pulse/data/top/transaction/country/india/state/'

top_trans_list=os.listdir(top_trans_path)

col_top_2={'States':[],'Year':[],'Quarter':[],'Pincode':[],'Transaction_Count':[],'Transaction_Amount':[]   }

for states in top_trans_list:
    curr_state=top_trans_path+states+'/'
    top_state_list=os.listdir(curr_state)

    for year in top_state_list:
        curr_year=curr_state+year+'/'
        top_year_list=os.listdir(curr_year)

        for file in top_year_list:
            curr_file=curr_year+file
            data=open(curr_file,'r')

            Top2=json.load(data)

            for i in Top2["data"]["pincodes"]:
                entityName = i["entityName"]
                count = i["metric"]["count"]
                amount = i["metric"]["amount"]
                col_top_2["Pincode"].append(entityName)
                col_top_2["Transaction_Count"].append(count)
                col_top_2["Transaction_Amount"].append(amount)
                col_top_2["States"].append(states)
                col_top_2["Year"].append(year)
                col_top_2["Quarter"].append(int(file.strip(".json")))

            Top_trans=pd.DataFrame(col_top_2)

            Top_trans['States']= Top_trans['States'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
            Top_trans['States']=Top_trans['States'].str.replace('-', ' ')
            Top_trans['States']=Top_trans['States'].str.title()
            Top_trans['States']=Top_trans['States'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman & Diu')

In [39]:
Top_trans['States'].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman & Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

Top User

In [75]:
# top user file

top_user_path='C:/Users/Krithika J/OneDrive/Tài liệu/ds proj/youtube_proj/Phonepe_Proj/pulse/data/top/user/country/india/state/'

top_user_list=os.listdir(top_user_path)

col_top_3={'States':[],'Year':[],'Quarter':[],'Pincode':[],'Registered_User':[]   }

for states in top_user_list:
    curr_state=top_user_path+states+'/'
    top_state_list=os.listdir(curr_state)

    for year in top_state_list:
        curr_year=curr_state+year+'/'
        top_year_list=os.listdir(curr_year)

        for file in top_year_list:
            curr_file=curr_year+file
            data=open(curr_file,'r')

            Top3=json.load(data)

            for i in Top3["data"]["pincodes"]:
                name = i["name"]
                registeredusers = i["registeredUsers"]
                col_top_3["Pincode"].append(name)
                col_top_3["Registered_User"].append(registereduser)
                col_top_3["States"].append(states)
                col_top_3["Year"].append(year)
                col_top_3["Quarter"].append(int(file.strip(".json")))

            Top_user=pd.DataFrame(col_top_3)

            Top_user['States']= Top_user['States'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
            Top_user['States']=Top_user['States'].str.replace('-', ' ')
            Top_user['States']=Top_user['States'].str.title()
            Top_user['States']=Top_user['States'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman & Diu')

In [41]:
Top_user['States'].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman & Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

SQL Creation-Agg

In [62]:
# Table creation

# SQL Connection

mydb = psycopg2.connect(
    host="localhost",
    user="postgres",
    password="Guvi2024",
    database="Phonepe_Data",
    port=5432
)
cursor = mydb.cursor()

# Agg ins
create_query1= '''CREATE TABLE if not exists aggregated_insurance (States varchar(50),
                                                                      Year int,
                                                                      Quarter int,
                                                                      Insurance_Method varchar(50),
                                                                      Insurance_Count bigint,
                                                                      Insurance_Amount bigint
                                                                      )'''
cursor.execute(create_query1)
mydb.commit()

for index,row in Agg_ins.iterrows():
    insert_query1 = '''INSERT INTO aggregated_insurance (States, Year, Quarter, Insurance_Method, Insurance_Count, Insurance_Amount)
                                                        values(%s,%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Year"],
              row["Quarter"],
              row["Insurance_Method"],
              row["Insurance_Count"],
              row["Insurance_Amount"]
              )
    cursor.execute(insert_query1,values)
    mydb.commit()

# Agg trans
create_query2 = '''CREATE TABLE if not exists aggregated_transaction (States varchar(50),
                                                                      Year int,
                                                                      Quarter int,
                                                                      Transaction_Method varchar(50),
                                                                      Transaction_Count bigint,
                                                                      Transaction_Amount bigint
                                                                      )'''
cursor.execute(create_query2)
mydb.commit()

for index,row in Agg_trans.iterrows():
    insert_query2 = '''INSERT INTO aggregated_transaction (States, Year, Quarter, Transaction_Method, Transaction_Count, Transaction_Amount)
                                                        values(%s,%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Year"],
              row["Quarter"],
              row["Transaction_Method"],
              row["Transaction_Count"],
              row["Transaction_Amount"]
              )
    cursor.execute(insert_query2,values)
    mydb.commit()

# Agg user
create_query3 = '''CREATE TABLE if not exists aggregated_user (States varchar(50),
                                                                Year int,
                                                                Quarter int,
                                                                Brands varchar(50),
                                                                User_Count bigint,
                                                                Percentage float)'''
cursor.execute(create_query3)
mydb.commit()

for index,row in Agg_user.iterrows():
    insert_query3 = '''INSERT INTO aggregated_user (States, Year, Quarter, Brands, User_Count, Percentage)
                                                    values(%s,%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Year"],
              row["Quarter"],
              row["Brands"],
              row["User_Count"],
              row["Percentage"])
    cursor.execute(insert_query3,values)
    mydb.commit()

SQL-map

In [65]:
# Table creation

# SQL Connection

mydb = psycopg2.connect(
    host="localhost",
    user="postgres",
    password="Guvi2024",
    database="Phonepe_Data",
    port=5432
)
cursor = mydb.cursor()

# Map ins
create_query4= '''CREATE TABLE if not exists map_insurance (States varchar(50),
                                                                      Year int,
                                                                      Quarter int,
                                                                      District varchar(50),
                                                                      Insurance_Count bigint,
                                                                      Insurance_Amount bigint
                                                                      )'''
cursor.execute(create_query4)
mydb.commit()

for index,row in Map_ins.iterrows():
    insert_query4 = '''INSERT INTO map_insurance (States, Year, Quarter, District, Insurance_Count, Insurance_Amount)
                                                        values(%s,%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Year"],
              row["Quarter"],
              row["District"],
              row["Insurance_Count"],
              row["Insurance_Amount"]
              )
    cursor.execute(insert_query4,values)
    mydb.commit()

# Map trans
create_query5 = '''CREATE TABLE if not exists map_transaction (States varchar(50),
                                                                      Year int,
                                                                      Quarter int,
                                                                      District varchar(50),
                                                                      Transaction_Count bigint,
                                                                      Transaction_Amount bigint
                                                                      )'''
cursor.execute(create_query5)
mydb.commit()

for index,row in Map_trans.iterrows():
    insert_query5 = '''INSERT INTO map_transaction (States, Year, Quarter, District, Transaction_Count, Transaction_Amount)
                                                        values(%s,%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Year"],
              row["Quarter"],
              row["District"],
              row["Transaction_Count"],
              row["Transaction_Amount"]
              )
    cursor.execute(insert_query5,values)
    mydb.commit()

# Map user
create_query6 = '''CREATE TABLE if not exists map_user (States varchar(50),
                                                                Year int,
                                                                Quarter int,
                                                                District varchar(50),
                                                                Registered_User bigint,
                                                                App_Opens float)'''
cursor.execute(create_query6)
mydb.commit()

for index,row in Map_user.iterrows():
    insert_query6 = '''INSERT INTO map_user (States, Year, Quarter, District, Registered_User, App_Opens)
                                                    values(%s,%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Year"],
              row["Quarter"],
              row["District"],
              row["Registered_User"],
              row["App_Opens"])
    cursor.execute(insert_query6,values)
    mydb.commit()

SQL-Top

In [76]:
# Table creation

# SQL Connection

mydb = psycopg2.connect(
    host="localhost",
    user="postgres",
    password="Guvi2024",
    database="Phonepe_Data",
    port=5432
)
cursor = mydb.cursor()

# Top ins
create_query7= '''CREATE TABLE if not exists top_insurance (States varchar(50),
                                                                      Year int,
                                                                      Quarter int,
                                                                      Pincode int,
                                                                      Insurance_Count bigint,
                                                                      Insurance_Amount bigint
                                                                      )'''
cursor.execute(create_query7)
mydb.commit()

for index,row in Top_ins.iterrows():
    insert_query7 = '''INSERT INTO top_insurance (States, Year, Quarter, Pincode, Insurance_Count, Insurance_Amount)
                                                        values(%s,%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Year"],
              row["Quarter"],
              row["Pincode"],
              row["Insurance_Count"],
              row["Insurance_Amount"]
              )
    cursor.execute(insert_query7,values)
    mydb.commit()

# Map trans
create_query8 = '''CREATE TABLE if not exists top_transaction (States varchar(50),
                                                                      Year int,
                                                                      Quarter int,
                                                                      Pincode int,
                                                                      Transaction_Count bigint,
                                                                      Transaction_Amount bigint
                                                                      )'''
cursor.execute(create_query8)
mydb.commit()

for index,row in Top_trans.iterrows():
    insert_query8 = '''INSERT INTO top_transaction (States, Year, Quarter, Pincode, Transaction_Count, Transaction_Amount)
                                                        values(%s,%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Year"],
              row["Quarter"],
              row["Pincode"],
              row["Transaction_Count"],
              row["Transaction_Amount"]
              )
    cursor.execute(insert_query8,values)
    mydb.commit()

# Map user
create_query9 = '''CREATE TABLE if not exists top_user (States varchar(50),
                                                                Year int,
                                                                Quarter int,
                                                                Pincode int,
                                                                Registered_User bigint
                                                                )'''
cursor.execute(create_query9)
mydb.commit()

for index,row in Top_user.iterrows():
    insert_query9 = '''INSERT INTO top_user (States, Year, Quarter, Pincode, Registered_User)
                                                    values(%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Year"],
              row["Quarter"],
              row["Pincode"],
              row["Registered_User"])
             
    cursor.execute(insert_query9,values)
    mydb.commit()